* {
    -webkit-box-sizing: border-box;
   	   -moz-box-sizing: border-box;
    	    box-sizing: border-box
}
html{
    font-size: 30px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    min-width: 20rem;
    min-height: 80%;
    max-height: 100%;
    background-image: url("../image/bg.jpg");
    background-size:cover;
    text-align: center;
    margin: 0;
    display: inline-block;
}

tr{
    border:0;
}
td{
    
    width: 50%;
    height: 1rem;
    text-align: center;
}
table{
    width: 50%;
    height: 50%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}
button{
    border: solid;
    font-size: 1.5rem;
    background-color: rgba(219, 217, 217, 0.57);
    padding-left: 10px;
    color: aliceblue;
}
#start_emp_succes{
    font-size: 2rem;   
    
}
.start_emp_td1{
    text-align: right;
}
.start_emp_td2{
    text-align:left;
}